* {
    text-decoration: none;
    margin-top: 0px;
    padding: 0px;
}
  
body {
    background-image: url(5124213.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0px;
    padding: 0px;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(255, 255, 255, 0.5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float: left;
    margin: 5px;
}

nav ul li a {
    color: s#f9fcfc;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}

nav ul li a hover {
    text-decoration: underline;
}

 section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;  
 }

 .kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 500px;
 }

 .kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #060606;
 }

 h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #060606;
    width: 100%;
    line-height: 50px; 
 }

.menu {
    float: right;
    color: #060606;

}

.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold; 
    float: left;
    font-family: 'comic sans ms' ;
    color: #000000;
}

a.tbl-biru {
    background-color: #dd866c;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;

}

 a.tbl-biru:hover {
    background: #db5e8c;
    text-decoration: none;
}

a.tbl-pink {
    background: #0e31d1;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.profile {
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items:center;
    padding: 20px;
}

.profile .profile {
    display:ruby;
    width: 200px; 
    padding: 40px;
    border-radius: 20px;
    background-color: #f8fbfc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile .profile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile img {
    width: 120px;
    height: 150px;
    border-radius: 20px;
    object-fit:cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile h2 {
    margin: 0px;
    padding: 10%;
    font-size: 0.8rem;
    color: #333;
    display:flex;
}

.profile p {
    margin: 0;
    padding: 10%;
    font-size: 1rem;
    color: #1b1919;
    display:flex;
}
